
.container {
    margin-bottom: 4%;
}

.bg-color {
    background-color: #fceae8;
    border-radius: 12px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border: transparent;
    padding: 9px 25px;
    /* cursor: pointer; */
    border-radius: 10px;
}

.cat-1, .cat-2, .cat-3 {
    padding: 10px 30px;
    color: white;
    border-radius: 12px;
}

.cat-1 {
    background-image: linear-gradient(to right, orange 50%, rgb(228, 214, 16) 100%);
}

.cat-2 {
    /* background-color: #ff136f; */
    background-image: linear-gradient(to right, rgb(248, 47, 148) 0%, #ff136f 40%);
}

.cat-3 {
    background-color: blue;
    background-image: linear-gradient(to right, rgb(54, 60, 153) 0%, blue 100%);
}

.cat img {
    width: 120px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: white;
    border-top: none;
}

/* //////////////////////////////////////////////// Equal to or below 991px////////////////////////////////// */
@media screen and (max-width: 991px) {
    .cat h1 {
        font-size: 180%;
    }
    .cat img {
        width: 80px;
    }
}